// color

$color_background: rgb(235, 246, 250);
$color_add: rgb(141, 230, 141);
$color_remove: rgb(228, 163, 163);


// font

$font_main: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;

